<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile</title>
  <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shivam Nagar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML Demo</a></li>
        <li class="nav-item"><a class="nav-link" href="/addStudents">Add Student</a></li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
        {{!-- <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li> --}}
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h2>{{student.firstName}} {{student.lastName}}</h2>
        <hr />
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="studentNum">Student Number</label>
                <input class="form-control" id="studentNum" name="studentNum" type="text" readonly value="{{student.studentNum}}" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" id="firstName" name="firstName" type="text" readonly value="{{student.firstName}}" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" id="lastName" name="lastName" type="text" readonly value="{{student.lastName}}" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="email" readonly value="{{student.email}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" id="address" name="address" type="text" readonly value="{{student.address.street}}, {{student.address.city}}, {{student.address.province}}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="status">Status</label>
                <input class="form-control" id="status" name="status" type="text" readonly value="{{student.status}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" onclick="window.history.back()">Back</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
